--index-url http://pypi.douban.com/simple

Django==1.6.5
django-parsley
django_select2
django-tables2
django-tables3
django-oauth-toolkit
requests
python-memcached
redis

django-tastypie
django-render-json
django-render-csv
django-ckeditor-updated
days
